@font-face {
    font-family: 'PassionSansPDae-Book';
    src: url('/passionsanspdae-book.eot');
    src: url('/passionsanspdae-book.eot?#iefix') format('embedded-opentype'),
    url('/passionsanspdae-book.woff') format('woff'),
    url('/passionsanspdae-book.ttf') format('truetype'),
    url('/passionsanspdae-book.svg#PassionSansPDae-Book') format('svg');
}

@font-face {
    font-family: 'PassionSansPDaa-Hairline';
    src: url('/passionsanspdaa-hairline.eot');
    src: url('/passionsanspdaa-hairline.eot?#iefix') format('embedded-opentype'),
    url('/passionsanspdaa-hairline.woff') format('woff'),
    url('/passionsanspdaa-hairline.ttf') format('truetype'),
    url('/passionsanspdaa-hairline.svg#PassionSansPDaa-Hairline') format('svg');
}

/*Text*/
h1 {
    font-family: 'PassionSansPDaa-Hairline', sans-serif;
    font-size:  3em;
    line-height: 64px;
    margin: 5px 20px;
    position: relative;
    text-align: center;
}

h2 {
    font-family: 'Arvo', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    margin-bottom: 15px;
}

h3 {
    font-family: 'PassionSansPDaa-Hairline', sans-serif;
    font-variant: small-caps;
    font-size: 1.5em;
}

p {
    font-family: 'Arvo', serif;
    font-weight: normal;
    font-style: normal;
    font-size: .85em;
    line-height: 1.8em;
    margin-bottom: 15px;
}


/*navigation panel*/
#about_header  {
    margin: 20px 0 50px 0;
}

nav {
    text-align: left;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 20px 20px 5px 20px;
    border-bottom: 2px solid black;

}

.social_media {
    float: right;
    display: inline-block;
    position: relative;
    bottom: 100px;
    right: 30px;
    padding: 10px;
}


/*Main*/
body {
    background: snow;
    width: 100vw;
    height: 100vh;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: lightsteelblue;
}

.header {
    width: 550px;
    height: 93px;
    margin: 0 50px 20px 5px;
    border: 2px solid #888;
    border-radius: 10px;
    display: inline-block;
    float: left;
}

header  {
    margin-top: 0;
    padding-left: 5px;
}

#logo {
    padding: 20px 0 15px;

}

#secondary{
    padding: 20px;
    width: 30%;
}

#footer  {
    font-family: 'Arvo', serif;
    font-weight: normal;
    font-style: normal;
    font-size: .55em;
    margin-bottom: 15px;
    padding-left: 20px;
}
