 /* Main */

 @font-face {
     font-family: 'PassionSansPDae-Book';
     src: url('webFonts/passionsanspdae-book.eot');
     src: url('webFonts/passionsanspdae-book.eot?#iefix') format('embedded-opentype'),
     url('webFonts/passionsanspdae-book.woff') format('woff'),
     url('webFonts/passionsanspdae-book.ttf') format('truetype'),
     url('webFonts/passionsanspdae-book.svg#PassionSansPDae-Book') format('svg');
 }

 @font-face {
     font-family: 'PassionSansPDaa-Hairline';
     src: url('webFonts/passionsanspdaa-hairline.eot');
     src: url('webFonts/passionsanspdaa-hairline.eot?#iefix') format('embedded-opentype'),
     url('webFonts/passionsanspdaa-hairline.woff') format('woff'),
     url('webFonts/passionsanspdaa-hairline.ttf') format('truetype'),
     url('webFonts/passionsanspdaa-hairline.svg#PassionSansPDaa-Hairline') format('svg');
 }

 body {
     background: snow;
     width: 100vw;
     height: 100vh;
}

 a {
     text-decoration: none;
     color: black;
 }

 a:hover {
     color: steelblue;
 }

 .header {
    width:  950px;
    height:  160px;
    margin-left: 5px;
    border: 2px solid #888;
    border-radius: 10px;
}

header  {
    margin-top: 0;
    padding-left: 40px;
}

.social_media {
    float: right;
    display: inline-block;
    position: relative;
    bottom: 160px;
    right: 30px;
    padding: 10px;
}


/* nav */


nav {
    float: left;
    color: black;
}

nav a {
    color: black;
    margin: 20px 20px 15px 10px;
    display: block;
}

nav ul {
    list-style: none;
    padding: 40px;
}

nav a.current {
    color:  lightsteelblue;
}

nav a:hover {
    color: lightsteelblue;
}

ul, h2 {
    margin-top: 0;
}


/* Gallery */


#wrapper {
    background: url(bcard.jpg) no-repeat;
    background-size: cover;
    width:  80%;
    height: 88.2488%;
    border-radius:10px;
    border: 2px solid #888;
    box-sizing: border-box;
    margin:  -8.29% auto 0;
    float: right;
}
#homePage_slideshow {
    display: inline;
    max-width: 750px;
    margin: auto;
    padding:0;
    position: relative;
    left: 150px;
    top: 120px;
}
.slide {
    border-radius: 10px;
    max-height: 565px;
    box-sizing: border-box;
    width: auto;
    border: 10px solid white;
}
 .banner {
     position: relative;
     overflow-x: hidden;
 }
 .banner li {
     list-style: none;
 }
 .banner ul li {
     float: left;
 }
 .banner a {
     margin: 0;
     padding: 0;
 }
.cf:before,
.cf:after {
     content: " "; /* 1 */
     display: table; /* 2 */
}

.cf:after {
     clear: both;
}



 /*#home_gallery:nth-child(9) {
      clear: both;
  }


 /*li:nth-child(3n+8) {
      clear: both;
  }

 li:nth-child(3n) {
     border-right: none;
 }

 li:nth-child(4n+1) {
     border-left: none;
 }

 #home_gallery li {
     border: 1px #fff;
 }


 /* fonts */

h1 {
    font-family: 'PassionSansPDae-Book', sans-serif;
    font-size: 4.3em;
    color: black;
    margin: 15px 15px -50px 50px;
}

h2 {
    font-family: 'Arvo', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    margin-bottom: 15px;
}

#tagLine {
     font-family: 'PassionSansPDaa-Hairline', sans-serif;
     font-weight: normal;
     font-style: normal;
     font-size:  2em;
     line-height: 64px;
     margin: 0px 0 5px 20px;
     position:  absolute;
     text-align:  left;
     bottom: -17px;
}


#introduction {
    float: left;
    margin: 20px 0 0 30px;
    padding: 0;
    width: 250px;
    font-family: 'Arvo', serif;
    font-size: .85em;
    line-height: 2em;
    text-align: center;
}

 /*overlay for photo viewing*/
 #overlay {
     display: none;
     height: 100%;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     background-color: rgba(0, 0, 0, 0.85);
     z-index: 2001;
     padding: 5px;
     text-align: center;
 }

 #overlay img{
     border-radius: 10px;
     max-height: 90%;
 }

 .caption,
 .item_specs,
 .item_price {
     position: absolute;
     width: 250px;
     font-family: 'Arvo', serif;
     font-weight: normal;
     font-style: normal;
     font-size: .8em;
     line-height: 1.4em;
     color: snow;
     text-align: left;
 }
 .caption {
     top: 40px;
     left: 40px;
 }
 .item_specs {
     top: 40%;
     left: 40px;
 }
 .item_price {
     top: 50%;
     left: 40px;
     text-align: left;
     font-size: .7em;
     color: lightsteelblue;
 }
 .photo_caption,
 .specs,
 .price {
     display: none;
 }


