/*
8b    d8    db    88 88b 88
88b  d88   dPYb   88 88Yb88
88YbdP88  dP__Yb  88 88 Y88
88 YY 88 dP""""Yb 88 88  Y8
*/

body {
    background: snow;
}

#cube29 {
    position: absolute;
    top: 35px;
    left: 35px;
    height: 200px;
    width: 200px;
    border-radius: 10px;
}


/*
88b 88    db    Yb    dP     88""Yb    db    88b 88 888888 88
88Yb88   dPYb    Yb  dP      88__dP   dPYb   88Yb88 88__   88
88 Y88  dP__Yb    YbdP       88"""   dP__Yb  88 Y88 88""   88  .o
88  Y8 dP""""Yb    YP        88     dP""""Yb 88  Y8 888888 88ood8
*/
a {
    text-decoration: none;
    color: black;
}

a.current,
a:hover {
    color: lightsteelblue;
}

#gallery_header  {
    margin: 50px 0 50px 0;
}

nav {
    text-align: center;
    margin-left: -40px;
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block;
    padding: 20px 20px 5px 20px;
    border-bottom: 2px solid black;

}

.social_media {
    float: right;
    display: inline-block;
    position: relative;
    bottom: 100px;
    right: 30px;
    padding: 10px;
}


/*
 dP""b8    db    88     88     888888 88""Yb Yb  dP
dP   `"   dPYb   88     88     88__   88__dP  YbdP
Yb  "88  dP__Yb  88  .o 88  .o 88""   88"Yb    8P
 YboodP dP""""Yb 88ood8 88ood8 888888 88  Yb  dP
 */
#wrapper {
    background: snow;
    background-size: cover;
    max-width: 100%;
    height: 100%;
    border-radius:10px;
    margin: 0;
}

.page_gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:  space-between;
    width: 100%;
    margin: 0;
    padding: 1px;
    list-style: none;
    background-color: snow;
}

.page_gallery li img {
    height: /*30.289137%*/ 225px;
    border-radius: 5%;
    box-shadow:0 0 20px 0  rgba(255, 255, 255, .85);
    border: 4px solid white;
    opacity: 0.82;
    margin: 10px 25px;
    padding: 0;
    position: relative;
    z-index: 100;
}

.page_gallery img:hover {
    box-shadow: 0 5px 20px 0 rgba(0,0,0,0.75);
    transition: all .6s ease;
    transform: scale(2.2);
    opacity: 1.0;
    z-index: 2000;
}

.page_gallery li:first-child:hover {
    transform: translateX(120px);
    transition: all .6s  ease;
    z-index: 2000;
}

.page_gallery li:last-child:hover {
    transform: translateX(-80px);
    transition: all .6s  ease;
    z-index: 2000;
}

.row-2 li:first-child:hover {
    transform: translateX(150px) translateY(-50px);
    z-index: 2000;
}

.page_gallery.row-2 img:hover {
    transform: translateY(-100px) scale(2.2);
    z-index: 2000;
    transition: all .6s ease;

}

.page_gallery.row-1 {
    width: 95%;
    padding-top: 10px;
}

.row-2,
.row-3 {
    justify-content: space-between;
    width: 95%;
}


/*
 dP"Yb  Yb    dP 888888 88""Yb 88        db    Yb  dP
dP   Yb  Yb  dP  88__   88__dP 88       dPYb    YbdP
Yb   dP   YbdP   88""   88"Yb  88  .o  dP__Yb    8P
 YbodP     YP    888888 88  Yb 88ood8 dP""""Yb  dP
*/
#overlay {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 2001;
    padding: 5px;
    text-align: center;
}

#overlay img{
    border-radius: 10px;
    max-height: 90%;
}

.caption,
.item_specs,
.item_price {
    position: absolute;
    width: 250px;
    font-family: 'Arvo', serif;
    font-weight: normal;
    font-style: normal;
    font-size: .8em;
    line-height: 1.4em;
    color: snow;
    text-align: left;
}
.caption {
    top: 40px;
    left: 40px;
}
.item_specs {
    top: 40%;
    left: 40px;
}
.item_price {
    top: 50%;
    left: 40px;
    text-align: left;
    font-size: .7em;
    color: lightsteelblue;
}
.photo_caption,
.specs,
.price {
    display: none;
}

/*
888888 888888 Yb  dP 888888
  88   88__    YbdP    88
  88   88""    dPYb    88
  88   888888 dP  Yb   88
*/
@font-face {
    font-family: 'PassionSansPDae-Book';
    src: url('/passionsanspdae-book.eot');
    src: url('/passionsanspdae-book.eot?#iefix') format('embedded-opentype'),
    url('/passionsanspdae-book.woff') format('woff'),
    url('/passionsanspdae-book.ttf') format('truetype'),
    url('/passionsanspdae-book.svg#PassionSansPDae-Book') format('svg');
}

@font-face {
    font-family: 'PassionSansPDaa-Hairline';
    src: url('/passionsanspdaa-hairline.eot');
    src: url('/passionsanspdaa-hairline.eot?#iefix') format('embedded-opentype'),
    url('/passionsanspdaa-hairline.woff') format('woff'),
    url('/passionsanspdaa-hairline.ttf') format('truetype'),
    url('/passionsanspdaa-hairline.svg#PassionSansPDaa-Hairline') format('svg');
}
h2 {
    font-family: 'Arvo', serif;
    font-weight: normal;
    font-style: normal;
    font-size: 1em;
    margin-bottom: 15px;
}

#tagLine {
    font-family: 'PassionSansPDaa-Hairline', sans-serif;
    display: inline;
    font-weight: normal;
    font-style: normal;
    font-size:  2em;
    line-height: 64px;
    margin: 0 -72px 5px 20px;
    position: relative;
    text-align: right;
    float: right;
}


#introduction{
    float: left;
    margin: 20px 0 0 20px;
    padding: 0;
    width: 250px;
    font-family: 'Arvo', serif;
    font-size: .85em;
    line-height: 2em;
    text-align: center;
}
/*
88""Yb 88""Yb 888888    db    88  dP 88""Yb  dP"Yb  88 88b 88 888888 .dP"Y8
88__dP 88__dP 88__     dPYb   88odP  88__dP dP   Yb 88 88Yb88   88   `Ybo."
88""Yb 88"Yb  88""    dP__Yb  88"Yb  88"""  Yb   dP 88 88 Y88   88   o.`Y8b
88oodP 88  Yb 888888 dP""""Yb 88  Yb 88      YbodP  88 88  Y8   88   8bodP'
*/